{% extends 'layouts/base.html' %}

{% block content %}
<div class="col-8">
    <div>
        <a href="#" class="d-block link-body-emphasis text-decoration-none ms-2 h4 nav4">New Question</a>
    </div>
    <div>
        <p class="text-danger" style="font-weight: bold;"> Wrong tag name! </p>
    </div>
    <div class="form-group mt-4">
        <div class="d-flex">
            <p class="mr-2">Title</p>
            <input class="form-control ms-2" type="text" id="title" placeholder="How to use array in C++">
        </div>
    </div>
    <div class="form-group mt-4">
        <div class="d-flex">
            <p class="mr-2">Text</p>
            <textarea class="form-control ms-2" rows="3" placeholder="pls tell me"></textarea>
        </div>
    </div>
    <div class="form-group mt-4">
        <div class="d-flex">
            <p class="mr-2">Tags</p>
            <input class="form-control ms-2" type="text" id="tags" placeholder="C++">
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary mt-2">Post</button>
    </div>
</div>
{% endblock %}
