{% extends 'layouts/auth.html' %}

{% load static %}

{% block content %}
    <h1 class="h3 mb-3 fw-normal">Please log in</h1>
    <div>
        <p class="text-danger" style="font-weight: bold;"> Invalid email! </p>
    </div>
    <div class="form-floating mt-4">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email</label>
    </div>
    <div class="form-floating mt-4">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>
    <button class="btn btn-primary btn-lg mt-4" type="submit">Log in</button>
    <div class="d-flex align-items-center justify-content-center mt-4">
        <p class="mt-2 mb-3 text-muted">Don’t have an account?</p>
        <p class="mt-2 mb-3 ms-3"><a href="{% url 'signup' %}" class="nav link-body-emphasis text-decoration-none text-primary">Sign up</a></p>
    </div>
{% endblock %}
