<div>
    <p>
        {% if page_obj.has_previous %}
        <button class="pagebtn"><a href="?page={{ page_obj.previous_page_number }}" style="text-decoration:none; color:black;">{{ page_obj.previous_page_number }}</a></button>
        {% endif %}
        <button class="pagebtn"><a href="?page={{ page_obj.number }}" style="text-decoration:none; color:black;">{{ page_obj.number }}</a></button>
        {% if page_obj.has_next %}
        <button class="pagebtn"><a href="?page={{ page_obj.next_page_number }}" style="text-decoration:none; color:black;">{{ page_obj.previous_page_number }}</a></button>
        {% endif %}
    </p>

</div>