{% extends 'layouts/base.html' %}

{% block content %}
<div class="col-8">
    <div class="border-bottom">
        <a href="#" class="d-block link-body-emphasis text-decoration-none ms-2 h4 nav4">{{ question.title }}</a>
        <p class="d-block link-body-emphasis text-decoration-none ms-2" > {{ question.description }} </p>
        <div class="col-2 m d-flex">
            <ul class="list-unstyled d-flex">
                <li class="list-group-item d-flex align-items-center justify-content-between me-3">
                    <span>votes</span>
                    <span class="badge bg-primary rounded-pill mt-1 ms-2">{{ question.votes }}</span>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between me-3">
                    <span>views</span>
                    <span class="badge bg-primary rounded-pill ms-2">{{ question.views }}</span>
                </li>
            </ul>
        </div>
    </div>


    <div class="d-flex mt-3">
        <p>tags:</p>
        <button type="button" class="btn btn-outline-primary m-1 p-1 ms-3">SQL</button>
    </div>

    <div class="list-group-item d-flex  align-items-center">
        <span class="badge bg-primary rounded-pill">2</span>
        <h4 class="ms-2"> Answers </h4>
    </div>
{% for answer in page_obj %}
    {% include 'components/answer.html' %}
{% endfor %}
</div>

{% include 'components/pagination.html' %}

{% endblock %}
