{% extends 'layouts/base.html' %}
{% load static %}

{% block navbar %}

{% include 'components/regged-navbar.html' %}

{% endblock %}

{% block content %}

<h2>Question</h2>
{% include 'components/question-item.html' %}
<hr>
<h4>{{ question.answers.count }} Answers</h4>

{% for answer in page_obj %}

{% include 'components/answer-item.html' %}

{% endfor %}

<hr>

{% include 'components/pagination.html' %}

<hr>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Your answer</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    <button type="button" class="btn btn-primary bottom-element">Answer!</button>
</div>

{% endblock %}
