{% extends 'layouts/auth.html' %}

{% load static %}

{% block content %}
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    <div>
        <p class="text-danger" style="font-weight: bold;"> Passwords dont match! </p>
    </div>
    <div>
        <img src="{% static '/images/user.jpg' %}" alt="mdo" width="96" height="96" class="rounded-circle">
        <p class="mt-2 mb-3 text-muted">Upload photo</p>
        <div class="mb-3">
            <input class="form-control form-control-sm" id="formFileSm" type="file">
        </div>
    </div>
    <div class="form-floating mt-4">
        <input type="email" class="form-control" id="floatingNickname" placeholder="nickname">
        <label for="floatingNickname">Nickname</label>
    </div>
    <div class="form-floating mt-4">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating mt-4">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>
    <div class="form-floating mt-4">
        <input type="password" class="form-control" id="floatingPassword2" placeholder="Password2">
        <label for="floatingPassword2">Confirm Password</label>
    </div>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-primary btn-lg" type="submit">Sign in</button>
    <div class="d-flex align-items-center justify-content-center mt-4">
        <p class="mt-2 mb-3 text-muted">Already have an account?</p>
        <p class="mt-2 mb-3 ms-3">
            <a href="{% url 'login' %}" class="nav link-body-emphasis text-decoration-none text-primary">Log in</a>
        </p>
    </div>
{% endblock %}
